.friend_requests {
  width: 35vw;
  height: 60vh;
  overflow-y: auto;
  font-size: 1rem;
  padding: 1em;
  background-color: var(--color-secondary);
  color: var(--color-text-primary);
  border-radius: 10px;
  h4 {
    padding: 0.8rem;
  }
  .error{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .not_found {
    margin-left: 35%;
    margin-top: 25%;
  }
  .friend_requests_list {
    .user_skeleton {
      width: 100%;
      display: flex;
      //align-items: center;
      gap: 10px;
      background-color: var(--color-primary);
      padding: 0.2rem;
      border-radius: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      .img {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 40%;
        animation: skeleton-loading 1s linear infinite alternate;
      }
      .detail {
        width: 80%;
        display: flex;
        align-items: center;
        div {
          width: 70%;
          height: 0.9rem;
          border-radius: 20px;
          animation: skeleton-loading 1s linear infinite alternate;
        }
        & > div:nth-child(1) {
          margin-top: 10px;
          margin-bottom: 7px;
        }
      }
    }
    .friend_requests_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.5em 0;
      background-color: var(--color-primary);
      padding: 0.5em;
      border-radius: 5px;
      & > div:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 1em;
        img {
          width: 3em;
          height: 3em;
          border-radius: 40%;
        }
      }
      & > div:nth-child(2) {
        display: flex;
        gap: 10px;
        button {
          height: 2em;
          padding: 2px 4px;
          background-color: var(--color-primary);
          color: var(--color-button-primary);
          border: 1px solid var(--color-button-primary);
        }
      }
      &:hover {
        & > div:nth-child(1) {
          a {
            text-decoration: underline;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 860px) {
  .friend_requests{
    width: 80vw;
    height: 70vh;
  }
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 17%);
  }
  100% {
    background-color: hsl(0, 0%, 14%);
  }
}
