.appbar {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  position: sticky;
  top: 0;
  //box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  z-index: 999;
  .logo_and_search {
    display: flex;
    gap: 10px;
  }
  nav {
    margin-right: 70px;
    display: flex;
    gap: 3rem;
    font-size: 1.3rem;
    .current_nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      color: var(--color-button-primary);
      &::after {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--color-button-primary);
      }
    }
  }
  .user_menu {
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
    border-radius: 10px;
    background-color: var(--color-secondary);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
    .dropdown_menu_container {
      position: absolute;
      top: 35px;
      right: 50%;
      transform: translateX(50%);
      z-index: 9999;
      padding: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      background-color: var(--color-primary);
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      button {
        width: 100%;
        padding: 5px;
        background-color: var(--color-secondary);
        color: var(--color-text-primary);
      }
      div{
        cursor: pointer;
      }
    }
  }
  .logout_loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    box-sizing: border-box;
    background: rgba( 34, 33, 33, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9.5px );
-webkit-backdrop-filter: blur( 9.5px );
z-index: 9999999;
  }
}
@media (min-width: 320px) and (max-width: 520px) {
  .appbar {
    padding: 1rem 1rem;
    gap: 20px;
    .logo_and_search {
      display: none;
    }
    nav {
      margin-right: 0;
      gap: 2rem;
    }
    .user_menu {
      padding: 2px 5px;
      span {
        display: none;
      }
    }
  }
}
@media (min-width: 520px) and (max-width: 820px) {
  .appbar {
    .logo_and_search {
      input {
        display: none;
      }
    }
    nav {
      margin-right: 0;
    }
  }
}
