.message_input {
  width: 100%;
  height: 15%;
  font-size: 1rem;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  border-top: 1px solid rgb(70, 70, 70);
  position: relative;
  .emoji_picker{
    position: absolute;
    bottom: 4em;
    left: 0;
    right: 0;
    width: 100%;
    height: 15em;
  }
  .attachment_container{
    position: relative;
    .attachment_picker{
      position: absolute;
      bottom:1.5em;
      display: flex;
      flex-direction: column;
      gap:0.2em;
      background-color: var(--color-primary);
      padding: 0.4em;
      border-radius: 5px;
      span{
        display: flex;
        align-items: center;
        gap:5px;
        padding: 5px;
        border-radius: 5px;
        &:hover{
          background-color: var(--color-secondary);
          cursor: pointer;
        }

      }
    }
  }
  input {
    width: 90%;
    padding: 0.5em;
    border-radius: 5px;
    padding-left: 10px;
    background-color: var(--color-secondary);
    color: var(--color-text-primary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
  svg {
    color: var(--color-button-primary);
  }
  button {
    font-size: 0.9em;
    padding: 0.1em 0.2em;
    background-color: var(--color-primary);
    color: var(--color-button-primary);
    border: 1px solid var(--color-button-primary);
  }
}
@media (min-width: 320px) and (max-width: 786px) {
  .message_input {
    font-size: 0.8rem;
  }
}
