.page_wrapper {
  width: 100%;
  height: 100vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--color-primary);
  .form_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 5em 3em 7em;
    background-color: var(--color-secondary);
    border-radius: 10px;
    //background-image: url('../../assets/bg1.svg');
    h1 {
      font-size: 1.6em;
      color: var(--color-text-primary);
    }
    p {
      font-size: 1em;
      color: var(--color-text-secondary);
      margin-top: 10px;
    }
    form {
      width: 100%;
      // max-width: 400px;
      min-width: 300px;
      margin-top: 20px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      label {
        font-size: 0.7em;
        font-weight: bold;
      }
      .field_group_one {
        width: 90%;
        label {
          font-size: 0.7em;
          font-weight: bold;
        }
        .input_controller {
          width: 100%;
          display: flex;
          align-items: center;
          margin-top: 5px;
          padding: 0.5rem 0.5rem 0.5rem 0.5rem;
          border-radius: 5px;
          border: 1px solid #e5e5e5;
          background-color: #f6fafd;
          input {
            padding: 0.4rem 1rem;
            width: 90%;
            outline: none;
            border: none;
            background-color: #f6fafd;
            &:active {
              background-color: #f6fafd;
            }
            &:focus {
              background-color: #f6fafd;
            }
          }
          svg {
            color: #5b5a5a;
          }
        }

        .link {
          text-align: left;
          font-size: 0.7em;
          a {
            color: var(--color-button-primary);
            cursor: pointer;
          }
        }
        button {
          width: 100%;
          padding: 0.7rem 1rem;
          border: none;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          background-color: var(--color-button-primary);
          color: var(--color-primary);
          cursor: pointer;
          margin-top: 20px;
          //clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
        }
      }
      .field_group_two {
        width: 90%;
        display: flex;
        justify-content: space-between;
        font-size: 0.8em;
        .input_controller {
          width: 60%;
          display: flex;
          gap: 8px;
          span {
            color: var(--color-text-secondary);
          }
        }
        a {
          text-decoration: none;
          color: var(--color-text-primary);
        }
      }
      .field_group__warning {
        .input_controller {
          border: 2px solid red;
          svg {
            color: red;
          }
        }
        p {
          text-align: left;
          color: red;
          margin-top: 5px;
          font-size: 0.8em;
        }
      }
    }
    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.9em;
      gap: 5px;
      p {
        margin-top: 0;
      }
      a {
        text-decoration: none;
        color: var(--color-text-primary);
      }
    }
  }
  .graphics_container {
    width: 50%;
    background-color: #2f58cd;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .page_wrapper {
    font-size: 0.9rem;
    .form_container {
      width: 100%;
      padding: 2rem;
      align-items: center;
      justify-content: center;
      form {
        width: 90%;
        max-width: 400px;
        .field_group_one {
          width: 100%;
        }
        .field_group_two {
          width: 100%;
          font-size: 0.7rem;
        }
      }
    }
    .graphics_container {
      display: none;
    }
  }
}
@media (min-width: 487px) and (max-width: 786px) {
}
