.page_wrapper {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-primary);
  background-color: var(--color-primary);
  .form_container {
    width: 45%;
    padding: 1.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--color-secondary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    p {
      font-size: 1em;
      color: var(--color-text-secondary);
      margin-top: 10px;
    }
    form {
      width: 65%;
      margin-top: 1rem;
      .form_group{
        margin: 1rem 0;
        .input_controller {
          width: 100%;
          padding: 0.2rem 1rem;
          display: flex;
          align-items: center;
          gap: 5px;
          border-radius: 4px;
          border: 1px solid #e5e5e5;
          background-color: #f6fafd;
          svg {
            color: #5b5a5a;
            width: 5%;
          }
          input {
            width: 90%;
            padding: 0.5rem;
            background-color: #f6fafd;
            &:active {
              background-color: #f6fafd;
            }
            &:focus {
              background-color: #f6fafd;
            }
          }
        }
        p{
          margin-top: 5px;
          font-size: 0.9rem;
        }
      }
      .form_group_two{
        margin-bottom: 2rem;
        font-size: 0.85rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .input_controller{
          display: flex;
          align-items: center;
          gap:5px;
          color: var(--color-text-secondary);
        }
        a{
          color: var(--color-text-secondary);
        }
      }
      .input_error{
        .input_controller {
          border: 2px solid #D80032;
          svg {
            color: #D80032;
          }
        }
        p {
          color: #D80032;
          margin-top: 5px;
          font-size: 0.8em;
        }
      }
      .text_group{
        margin-bottom: 1rem;
        font-size: 0.8rem;
        &>span:nth-child(2){
          color: var(--color-text-secondary);
          margin-left: 10px;
        }
      }
      .button_container {
        width: 100%;
        button {
          width: 100%;
          padding: 0.7rem;
          margin: auto;
          gap:10px;
          color: var(--color-primary);
          background-color: var(--color-button-primary);
        }
      }
    }
    .link_group {
      margin-top: 2rem;
      text-align: center;
      color: var(--color-text-secondary);
      a {
        margin-left: 4px;
        color: var(--color-text-primary); 
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
@media (min-width:200px) and (max-width:1024px){
.page_wrapper{
  font-size: 0.8rem;
  .form_container{
    width: 100%;
    max-width: 500px;
    form{
      width: 80%;
      .form_group_two{
        font-size: 0.7rem;
      }
    }
  }
}
}