.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-secondary);
  color: var(--color-text-primary);
  padding: 1em;
  label {
    width: 5rem;
    padding: 0.4rem 0.6rem;
    background-color: var(--color-primary);
    color: var(--color-button-primary);
    border: 1px solid var(--color-button-primary);
    border-radius: 5px;
    cursor: pointer;
  }
  input {
    display: none;
  }
}
