.page_wrapper{
    width: 100%;
    height: 87.5vh;
    padding: 1em 2em;
    background-color: var(--color-primary);
    .messenger_container{
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        background-color: var(--color-secondary);
        .no_user_selected{
            margin: auto;
            color: var(--color-text-primary);
        }
    }
}
@media (min-width: 320px) and (max-width: 786px) {
    .page_wrapper{
        font-size: 0.9rem;
        padding: 1em;
        .no_user_selected{
            margin: auto;
            display: none;
            color: var(--color-text-primary);
        }
    }

}  