.modal {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //padding: 0 1em;
    z-index: 999999;
    box-sizing: border-box;
    background: rgba( 34, 33, 33, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9.5px );
-webkit-backdrop-filter: blur( 9.5px );
.close_button{
  background-color: rgb(139, 137, 137);
  position: fixed;
  top:1rem;
  right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  &:hover{
    color:#d2d3db
  }
}
.children_container{
  
  height: auto;
  overflow-y: auto;
  //border: 2px solid rgb(121, 121, 121);
  border-radius: 5px;
  &::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #434343;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(84, 84, 84, 0.959);
    border-radius: 12px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(102, 102, 102, 0.911);
    border-radius: 12px;
  }
}
.dark_theme {
  --color-primary: #1e1e1e;
  --color-secondary: #2c2c2c;
  --color-tertiary: #2e2d2d;
  --color-button-primary: #FFFB73;
  --color-button-seconday: #2f58cd;
  --color-text-primary: #eeeded;
  --color-text-secondary: rgb(172, 170, 170);
  --color-button-text: white;
  --color-border: rgba(252, 250, 250, 0.1);
}
.light_theme {
  --color-primary: #f0f0f0;
  --color-secondary: white;
  --color-button-primary: black;
  --color-button-seconday: #d2d3db;
  --color-text-primary: black;
  --color-text-secondary: black;
  --color-button-text: black;
  --border-color: none;
}
  }
  
  .modal.modal-fade {
    animation: fade-in 1s 1 linear;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  .modal > .modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .modal > .modal-close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #5e5e5e;
    cursor: pointer;
    font-size: 1.25em;
    padding: 7px;
    background: rgba(255, 255, 255, 0.749);
    border: 1px solid #c3c0c0;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
  }
  
  .modal > .modal-close:hover {
    background: rgba(255, 255, 255, 0.989);
  }
  
  .modal > .modal-body {
    z-index: 2;
    position: relative;
    margin: 0 auto;
    background-color: #303030;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    padding: 15px 20px;
    color: #c3c0c0;
  }
  
  
  @keyframes fade-in {
    0% {
      animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }